.categories-nav {
  display: flex;
  align-items: center;
  
  padding: 10px 5%;
  border-bottom: 1px solid #ededed;
  background-color: #ffffff;
  font-size: 14px;
}
.nav-links {
  display: flex;
  gap: 10px;
}
.nav-item {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
}
.nav-item i {
  color: #888;
  font-size: 13px;
}

.nav-item.active {
  color: #ffffff;
  background-color: #0b6848;
  border-radius: 10px;
  font-weight: bold;
  
}

.nav-item.active i {
  color: #ffffff;
  
}

@media (max-width: 768px) {
  .categories-nav {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 15px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  .categories-nav::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
  }
  .nav-links {
    display: flex;
    gap: 8px;
  }
  .nav-item {
    padding: 8px 16px;
    font-size: 13px;
    flex-shrink: 0;
  }
}